.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.homepageV1Desktop {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 7047px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle326 {
  background: rgba(249, 242, 239, 1);
  width: 1440px;
  height: 1143px;
  display: block;
  position: absolute;
  top: 5020px;
  left: 0px;
}
.rectangle6 {
  background: rgba(241, 241, 243, 1);
  transform: translate(-0.001px, 0px);
  width: 1440px;
  height: 700px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.boton:global(.__wab_instance) {
  position: absolute;
  top: 26px;
  left: 1346.0010000000475px;
}
.asset101 {
  width: 157px;
  height: 40px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.svg__oaVhx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 157.001px;
  height: 40px;
  display: block;
  top: 0px;
  left: 0px;
}
.text___6Aqh {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(55, 72, 45, 1);
  position: absolute;
  top: 224px;
  left: 400px;
  width: 640px;
}
.text__uUbv5 {
  display: block;
  font-size: 36px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(55, 72, 45, 1);
  position: absolute;
  top: 140px;
  left: 399px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1288px;
  left: 182px;
  width: 642px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum2 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 894px;
  left: 623px;
  width: 630px;
}
.nuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1014px;
  left: 623px;
  width: 630px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum3 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1638px;
  left: 623px;
  width: 637px;
}
.text__yjRxw {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 834px;
  left: 623px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum4 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1915px;
  left: 182px;
  width: 637px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum5 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2035px;
  left: 182px;
  width: 637px;
}
.text__rlnRr {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1228px;
  left: 182px;
}
.text__vOuxE {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1194px;
  left: 182px;
}
.text__jqKs {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 800px;
  left: 623px;
}
.img__xgdmb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 310px;
  height: 273px;
  display: block !important;
  top: 1174px;
  left: 894px;
  overflow: hidden;
}
.img__xgdmb > picture > img {
  object-fit: cover;
}
.img__xgdmb > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__u9Hzj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.001px, 0px);
  width: 1440px;
  height: 1249px;
  display: block;
  top: 2385px;
  left: 0px;
}
.crossLines {
  background: url("/plasmic/blank_project/images/crossLines.jpeg") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(106, 113, 127, 1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 420px;
  height: 233px;
  display: block;
  position: absolute;
  top: 2537px;
  left: 70px;
  overflow: hidden;
}
.crossLines2 {
  background: url("/plasmic/blank_project/images/crossLines2.jpeg") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(106, 113, 127, 1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 420px;
  height: 233px;
  display: block;
  position: absolute;
  top: 2537px;
  left: 510px;
  overflow: hidden;
}
.crossLines3 {
  background: url("/plasmic/blank_project/images/santorini5.jpeg") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(106, 113, 127, 1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 420px;
  height: 233px;
  display: block;
  position: absolute;
  top: 2537px;
  left: 950px;
  overflow: hidden;
}
.moleculesMediaVideo1 {
  width: 640px;
  height: 409px;
  display: block;
  position: absolute;
  top: 2991px;
  left: 70px;
}
.background {
  background: url("/plasmic/blank_project/images/background.jpeg") center center / cover no-repeat;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 2px;
  bottom: 2px;
}
.svg__zEj10 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #424b5a;
  width: 640px;
  height: 409px;
  display: block;
  top: 0px;
  left: 0px;
}
.crossLines4 {
  display: block;
  position: absolute;
  top: 11px;
  left: 12px;
  right: 12px;
  bottom: 11px;
  overflow: hidden;
}
.svg__hoicS {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #c2d1d9;
  width: 617px;
  height: 388px;
  display: block;
  top: 0%;
  left: 0%;
}
.svg__m7EfD {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #c2d1d9;
  transform: scale(1, -1) rotate(-180deg) translate(0.2300000000000182px, 0px);
  width: 617px;
  height: 388px;
  display: block;
  transform-origin: top left;
  top: 0%;
  left: 99.83%;
}
.playButton {
  width: 63px;
  height: 63px;
  display: block;
  position: absolute;
  top: 173px;
  left: 289px;
  -webkit-mask-image: var(--image-GPF_5qGY95L);
  -webkit-mask-size: 53px 53px;
  -webkit-mask-repeat: no-repeat;
}
.svg__mz275 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #c2d1d9;
  width: 53px;
  height: 53px;
  display: block;
  top: 5px;
  left: 5px;
  transform: translate(0.25px, 0.25px);
}
.atomsColorsAccent {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.rectangle5 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.moleculesMediaVideo12 {
  width: 640px;
  height: 409px;
  display: block;
  position: absolute;
  top: 2991px;
  left: 729px;
}
.background2 {
  background: url("/plasmic/blank_project/images/background2.jpeg") center center / cover no-repeat;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 2px;
  bottom: 2px;
}
.svg__oLpds {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #424b5a;
  width: 640px;
  height: 409px;
  display: block;
  top: 0px;
  left: 0px;
}
.img__brCvq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  display: block;
  top: 11px;
  left: 12px;
  right: 12px;
  bottom: 11px;
  overflow: hidden;
  width: 616px;
  height: 387px;
}
.img__brCvq > picture > img {
  object-fit: cover;
}
.img__brCvq > .__wab_img-spacer > img {
  object-fit: cover;
}
.playButton2 {
  width: 63px;
  height: 63px;
  display: block;
  position: absolute;
  top: 173px;
  left: 289px;
  -webkit-mask-image: var(--image-GPF_5qGY95L);
  -webkit-mask-size: 53px 53px;
  -webkit-mask-repeat: no-repeat;
}
.svg__hCFeW {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #c2d1d9;
  width: 53px;
  height: 53px;
  display: block;
  top: 5px;
  left: 5px;
  transform: translate(0.25px, 0.25px);
}
.atomsColorsAccent2 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.rectangle7 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.text__unrxM {
  display: block;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2437px;
  left: 349px;
  width: 743px;
}
.text2 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3431px;
  left: 70px;
}
.text__n4Bu7 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.011009999999999999em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3472px;
  left: 70px;
  width: 638px;
}
.text3 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3431px;
  left: 732px;
}
.text__fXdZp {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.011009999999999999em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3472px;
  left: 732px;
  width: 638px;
}
.text__sh3BB {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1846px;
  left: 182px;
}
.text__dF3Qg {
  display: block;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(14, 41, 71, 1);
  position: absolute;
  top: 6263px;
  left: 518px;
  width: 632px;
}
.buttonsButtons {
  background: rgba(144, 158, 137, 1);
  width: 255px;
  height: 50px;
  display: block;
  position: absolute;
  top: 6387px;
  left: 516px;
  overflow: hidden;
  border-radius: 4px;
}
.text4 {
  position: absolute;
  top: 8px;
  left: 10px;
  bottom: 8px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text5 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.img__hJc9G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 191px;
  height: 242px;
  display: block !important;
  top: 6233px;
  left: 297px;
  overflow: hidden;
}
.img__hJc9G > picture > img {
  object-fit: cover;
}
.img__hJc9G > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__c7Hmk {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1540px;
  left: 623px;
  width: 637px;
}
.img___7Ejfm {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 419px;
  height: 239px;
  display: block !important;
  top: 1527px;
  left: 182px;
  overflow: hidden;
}
.img___7Ejfm > picture > img {
  object-fit: cover;
}
.img___7Ejfm > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aYiDt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 399px;
  height: 285px;
  display: block !important;
  top: 1846px;
  left: 861px;
  overflow: hidden;
}
.img__aYiDt > picture > img {
  object-fit: cover;
}
.img__aYiDt > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__f2R8K {
  display: block;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2246px;
  left: 292px;
}
.buttonsButtons2 {
  background: rgba(202, 130, 102, 1);
  width: 310px;
  height: 50px;
  display: block;
  position: absolute;
  top: 2235px;
  left: 840px;
  overflow: hidden;
  border-radius: 4px;
}
.text6 {
  position: absolute;
  top: 8px;
  left: 10px;
  bottom: 8px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text7 {
  display: block;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.text__d4GoY {
  display: block;
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(202, 130, 102, 1);
  position: absolute;
  top: 5100px;
  left: 652px;
}
.component2 {
  width: 420px;
  height: 448px;
  display: block;
  position: absolute;
  top: 5174px;
  left: 510px;
}
.rectangle54 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 4px;
}
.maskGroup {
  width: 420px;
  height: 248px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.santorini2 {
  background: url("/plasmic/blank_project/images/santorini2.jpeg") center center / cover no-repeat;
  transform: translate(0.19899999999999984px, 0px);
  width: 104.33%;
  height: 100.1%;
  display: block;
  position: absolute;
  top: 0%;
  left: -2.39%;
}
.santorini3 {
  background: rgba(143, 140, 153, 1);
  transform: translate(0px, -0.25899999999998613px);
  width: 100%;
  height: 31px;
  display: block;
  position: absolute;
  left: 0%;
  bottom: 169px;
}
.jcPenneyBuildingPlanoTx {
  display: block;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 103px;
  right: 21px;
  height: 46px;
}
._439000000 {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 44px;
  right: 21px;
  height: 39px;
}
.acquisitionFinancing {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 21px;
  right: 21px;
  height: 19px;
}
.office {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 21px;
  bottom: 174px;
  right: 21px;
}
.svg__wzPdz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d0dbea;
  transform: translate(-0.0010000000000012221px, 0.09600000000000364px);
  width: 364px;
  height: 1px;
  display: block;
  left: 6.66%;
  bottom: 93px;
}
.component3 {
  width: 420px;
  height: 448px;
  display: block;
  position: absolute;
  top: 5174px;
  left: 950px;
}
.rectangle55 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 4px;
}
.maskGroup2 {
  width: 420px;
  height: 248px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.santorini4 {
  background: url("/plasmic/blank_project/images/santorini3.jpeg") center center / cover no-repeat;
  transform: translate(0.19899999999999984px, 0px);
  width: 104.33%;
  height: 100.1%;
  display: block;
  position: absolute;
  top: 0%;
  left: -2.39%;
}
.santorini5 {
  background: rgba(143, 140, 153, 1);
  transform: translate(0px, -0.25899999999998613px);
  width: 100%;
  height: 31px;
  display: block;
  position: absolute;
  left: 0%;
  bottom: 169px;
}
.jcPenneyBuildingPlanoTx2 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 103px;
  right: 21px;
  height: 46px;
}
._4390000002 {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 44px;
  right: 21px;
  height: 39px;
}
.acquisitionFinancing2 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 21px;
  right: 21px;
  height: 19px;
}
.office2 {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 21px;
  bottom: 174px;
  right: 21px;
}
.svg__waExx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d0dbea;
  transform: translate(-0.0010000000000012221px, 0.09600000000000364px);
  width: 364px;
  height: 1px;
  display: block;
  left: 6.66%;
  bottom: 93px;
}
.cardDeals {
  width: 420px;
  height: 448px;
  display: block;
  position: absolute;
  top: 5174px;
  left: 70px;
}
.rectangle56 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 4px;
}
.maskGroup3 {
  width: 420px;
  height: 248px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.santorini6 {
  background: url("/plasmic/blank_project/images/santorini4.jpeg") center center / cover no-repeat;
  transform: translate(0.19899999999999984px, 0px);
  width: 104.33%;
  height: 100.1%;
  display: block;
  position: absolute;
  top: 0%;
  left: -2.39%;
}
.santorini7 {
  background: rgba(143, 140, 153, 1);
  transform: translate(0px, -0.25899999999998613px);
  width: 100%;
  height: 31px;
  display: block;
  position: absolute;
  left: 0%;
  bottom: 169px;
}
.text__y7BL {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 103px;
  right: 21px;
  height: 46px;
}
._4390000003 {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 44px;
  right: 21px;
  height: 39px;
}
.text__eXtIi {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 21px;
  right: 21px;
  height: 19px;
}
.office3 {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 21px;
  bottom: 174px;
  right: 21px;
}
.svg__myxNb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d0dbea;
  transform: translate(-0.0010000000000012221px, 0.09600000000000364px);
  width: 364px;
  height: 1px;
  display: block;
  left: 6.66%;
  bottom: 93px;
}
.component4 {
  width: 420px;
  height: 448px;
  display: block;
  position: absolute;
  top: 5642px;
  left: 70px;
}
.rectangle57 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 4px;
}
.maskGroup4 {
  width: 420px;
  height: 248px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.santorini8 {
  background: url("/plasmic/blank_project/images/santorini5.jpeg") center center / cover no-repeat;
  transform: translate(0.19899999999999984px, 0px);
  width: 104.33%;
  height: 100.1%;
  display: block;
  position: absolute;
  top: 0%;
  left: -2.39%;
}
.santorini9 {
  background: rgba(143, 140, 153, 1);
  transform: translate(0px, -0.25899999999998613px);
  width: 100%;
  height: 31px;
  display: block;
  position: absolute;
  left: 0%;
  bottom: 169px;
}
.jcPenneyBuildingPlanoTx3 {
  display: block;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 103px;
  right: 21px;
  height: 46px;
}
._4390000004 {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 44px;
  right: 21px;
  height: 39px;
}
.acquisitionFinancing3 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 21px;
  right: 21px;
  height: 19px;
}
.office4 {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 21px;
  bottom: 174px;
  right: 21px;
}
.svg__tnZwE {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d0dbea;
  transform: translate(-0.0010000000000012221px, 0.09600000000000364px);
  width: 364px;
  height: 1px;
  display: block;
  left: 6.66%;
  bottom: 93px;
}
.component8 {
  width: 420px;
  height: 448px;
  display: block;
  position: absolute;
  top: 5642px;
  left: 510px;
}
.rectangle58 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 4px;
}
.maskGroup5 {
  width: 420px;
  height: 248px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.santorini10 {
  background: url("/plasmic/blank_project/images/santorini6.jpeg") center center / cover no-repeat;
  transform: translate(0.19899999999999984px, 0px);
  width: 104.33%;
  height: 100.1%;
  display: block;
  position: absolute;
  top: 0%;
  left: -2.39%;
}
.santorini11 {
  background: rgba(143, 140, 153, 1);
  transform: translate(0px, -0.25899999999998613px);
  width: 100%;
  height: 31px;
  display: block;
  position: absolute;
  left: 0%;
  bottom: 169px;
}
.jcPenneyBuildingPlanoTx4 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 103px;
  right: 21px;
  height: 46px;
}
._4390000005 {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 44px;
  right: 21px;
  height: 39px;
}
.acquisitionFinancing4 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 21px;
  right: 21px;
  height: 19px;
}
.office5 {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 21px;
  bottom: 174px;
  right: 21px;
}
.svg__je2Hr {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d0dbea;
  transform: translate(-0.0010000000000012221px, 0.09600000000000364px);
  width: 364px;
  height: 1px;
  display: block;
  left: 6.66%;
  bottom: 93px;
}
.streamlineSvg {
  width: 420px;
  height: 286px;
  display: block;
  position: absolute;
  top: 800px;
  left: 182px;
  overflow: hidden;
}
.svg___76AmZ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #cb8367;
  transform: translate(0.4609999999999985px, 0.10099999999999909px);
  width: 2px;
  height: 60px;
  display: block;
  top: 22.72%;
  left: 11.42%;
}
.svg__zumSu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #cb8367;
  transform: translate(0.4609999999999985px, 0.38700000000000045px);
  width: 2px;
  height: 53px;
  display: block;
  top: 49.65%;
  left: 11.42%;
}
.svg__jQ8Bt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #cb8367;
  transform: translate(-0.21000000000000085px, 0.09299999999998931px);
  width: 87px;
  height: 2px;
  display: block;
  top: 70.97%;
  left: 11.19%;
}
.svg___1Yctt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.0259999999999998px, 0.11600000000001387px);
  width: 2px;
  height: 48px;
  display: block;
  top: 76.22%;
  left: 2.38%;
}
.svg___48MbT {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.053000000000000824px, -0.24200000000001864px);
  width: 131px;
  height: 2px;
  display: block;
  top: 95.8%;
  left: 4.76%;
}
.svg___3Irve {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.01799999999997226px, 0.26399999999999935px);
  width: 2px;
  height: 57px;
  display: block;
  top: 9.44%;
  left: 61.66%;
}
.svg___4Fbje {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.22100000000000364px, 0.3649999999999949px);
  width: 82px;
  height: 2px;
  display: block;
  top: 32.16%;
  left: 40.23%;
}
.svg__a6TUq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.3100000000000023px, 0.2680000000000007px);
  width: 2px;
  height: 76px;
  display: block;
  top: 35.31%;
  left: 37.85%;
}
.svg___3CBr {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.32899999999999996px, -0.14400000000000546px);
  width: 19px;
  height: 19px;
  display: block;
  top: 92.65%;
  left: 0.47%;
}
.svg__ykVs {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #cb8367;
  transform: translate(-0.3370000000000033px, -0.2529999999999859px);
  width: 18px;
  height: 18px;
  display: block;
  top: 68.18%;
  left: 9.76%;
}
.svg__nMPs {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.3720000000000141px, -0.015999999999991132px);
  width: 93px;
  height: 2px;
  display: block;
  top: 46.5%;
  left: 66.66%;
}
.svg__m7ZvO {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.15899999999999181px, 0.38700000000000045px);
  width: 2px;
  height: 53px;
  display: block;
  top: 49.65%;
  left: 64.28%;
}
.svg__uRCfA {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.16100000000000136px, 0.09299999999998931px);
  width: 75px;
  height: 2px;
  display: block;
  top: 70.97%;
  left: 44.52%;
}
.svg__iahBn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.4940000000000282px, 0.10099999999999909px);
  width: 77px;
  height: 2px;
  display: block;
  top: 72.72%;
  left: 75.71%;
}
.svg__pqC0G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.4060000000000059px, 0.11600000000001387px);
  width: 2px;
  height: 48px;
  display: block;
  top: 76.22%;
  left: 73.57%;
}
.svg__mZXta {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.22100000000000364px, -0.24200000000001864px);
  width: 131px;
  height: 2px;
  display: block;
  top: 95.8%;
  left: 40.23%;
}
.svg__niPsa {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.3100000000000023px, -0.08600000000001273px);
  width: 2px;
  height: 35px;
  display: block;
  top: 80.76%;
  left: 37.85%;
}
.svg__tcoew {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.19700000000000273px, -0.36199999999999477px);
  width: 18px;
  height: 18px;
  display: block;
  top: 43.7%;
  left: 62.38%;
}
.svg__t8Wwl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #cb8367;
  width: 18px;
  height: 18px;
  display: block;
  top: 43.7%;
  left: 9.52%;
}
.svg___4YjPt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.10599999999999454px, -0.09399999999999409px);
  width: 19px;
  height: 19px;
  display: block;
  top: 29.02%;
  left: 59.52%;
}
.svg__gMfcC {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.39699999999999136px, -0.09399999999999409px);
  width: 19px;
  height: 19px;
  display: block;
  top: 29.02%;
  left: 35.71%;
}
.svg__dkeTy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.12400000000002365px, -0.24600000000000932px);
  width: 19px;
  height: 19px;
  display: block;
  top: 69.93%;
  left: 71.19%;
}
.svg__mihT {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.3190000000000168px, 0.4119999999999777px);
  width: 18px;
  height: 18px;
  display: block;
  top: 92.65%;
  left: 71.42%;
}
.svg__fOos {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.39699999999999136px, -0.14400000000000546px);
  width: 19px;
  height: 19px;
  display: block;
  top: 92.65%;
  left: 35.71%;
}
.svg___7A0Z3 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.3109999999999786px, 0.18999999999999773px);
  width: 19px;
  height: 19px;
  display: block;
  top: 67.83%;
  left: 62.14%;
}
.svg__x6G4P {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0px, 0.2949999999999875px);
  width: 23px;
  height: 23px;
  display: block;
  top: 66.43%;
  left: 0%;
}
.svg___46M5E {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #cb8367;
  transform: translate(0.4350000000000023px, 0.392000000000003px);
  width: 23px;
  height: 23px;
  display: block;
  top: 13.28%;
  left: 9.04%;
}
.svg__am9Ql {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(0.4339999999999975px, 0px);
  width: 23px;
  height: 23px;
  display: block;
  top: 0%;
  left: 59.04%;
}
.svg___2Mm45 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.4490000000000123px, -0.14400000000000546px);
  width: 23px;
  height: 23px;
  display: block;
  top: 42.65%;
  left: 89.76%;
}
.svg___0UNs {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  transform: translate(-0.28199999999998226px, -0.027999999999991587px);
  width: 23px;
  height: 23px;
  display: block;
  top: 68.88%;
  left: 94.76%;
}
.svg__gdEc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #cb8367;
  transform: translate(0.3009999999999877px, 0.4379999999999882px);
  width: 41.766px;
  height: 41.698px;
  display: block;
  top: 182px;
  left: 139px;
}
.component6 {
  width: 420px;
  height: 448px;
  display: block;
  position: absolute;
  top: 5642px;
  left: 950px;
}
.rectangle59 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 4px;
}
.maskGroup6 {
  width: 420px;
  height: 248px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.santorini12 {
  background: url("/plasmic/blank_project/images/santorini7.jpeg") center center / cover no-repeat;
  transform: translate(0.19899999999999984px, 0px);
  width: 104.33%;
  height: 100.1%;
  display: block;
  position: absolute;
  top: 0%;
  left: -2.39%;
}
.santorini13 {
  background: rgba(143, 140, 153, 1);
  transform: translate(0px, -0.25899999999998613px);
  width: 100%;
  height: 31px;
  display: block;
  position: absolute;
  left: 0%;
  bottom: 169px;
}
.jcPenneyBuildingPlanoTx5 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 103px;
  right: 21px;
  height: 46px;
}
._4390000006 {
  display: block;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 44px;
  right: 21px;
  height: 39px;
}
.acquisitionFinancing5 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  left: 21px;
  bottom: 21px;
  right: 21px;
  height: 19px;
}
.office6 {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 21px;
  bottom: 174px;
  right: 21px;
}
.svg__oRqZn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d0dbea;
  transform: translate(-0.0010000000000012221px, 0.09600000000000364px);
  width: 364px;
  height: 1px;
  display: block;
  left: 6.66%;
  bottom: 93px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum6 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.011009999999999999em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3824px;
  left: 732px;
  width: 528px;
}
.text__adje {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3764px;
  left: 732px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementumLoremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum7 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4558px;
  left: 742px;
  width: 519px;
}
.text___7L4In {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4473px;
  left: 742px;
  width: 496px;
}
.text__p2ndL {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.011009999999999999em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4232px;
  left: 181px;
  width: 529px;
}
.text__gbIwK {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4135px;
  left: 181px;
  width: 513px;
}
.footer {
  background: rgba(54, 51, 75, 1);
  width: 1440px;
  height: 502px;
  display: block;
  position: absolute;
  top: 6545px;
  left: 0px;
  overflow: hidden;
}
.text8 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 40px;
  left: 40px;
}
.inputText {
  background: rgba(250, 250, 250, 1);
  width: 280px;
  height: 40px;
  display: block;
  position: absolute;
  top: 75px;
  left: 40px;
  overflow: hidden;
}
.text__hJPfY {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(208, 218, 233, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}
.svg__fvytd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3b6187;
  width: 280px;
  height: 0px;
  display: block;
  top: 40px;
  left: 0px;
}
.buttons {
  background: rgba(255, 229, 0, 1);
  width: 131px;
  height: 40px;
  display: block;
  position: absolute;
  top: 125px;
  left: 40px;
  overflow: hidden;
  border-radius: 4px;
}
.suscribe {
  position: absolute;
  top: 10px;
  left: 13px;
  width: 105px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jfwLr {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(14, 41, 71, 1);
}
.text9 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 68px;
  right: 479px;
}
.text10 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 40px;
  right: 362px;
}
.text11 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 110px;
  left: 399px;
  width: 253px;
}
.text12 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 269px;
  left: 399px;
  width: 253px;
}
.text13 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 165px;
  left: 399px;
}
.text14 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 201px;
  left: 399px;
}
.text15 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 255px;
  right: 235px;
}
.text16 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 40px;
  right: 157px;
}
.text17 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 96px;
  right: 425px;
}
.text18 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 121px;
  right: 388px;
}
.text19 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 146px;
  right: 453px;
}
.text20 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 171px;
  right: 362px;
}
.text21 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 196px;
  right: 458px;
}
.text22 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 221px;
  right: 403px;
}
.text23 {
  display: block;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 246px;
  right: 417px;
}
.text24 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 270px;
  right: 426px;
}
.text25 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 295px;
  right: 474px;
}
.text26 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 320px;
  right: 329px;
}
.text27 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 345px;
  right: 503px;
}
.text28 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 370px;
  right: 317px;
}
.text29 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 135px;
  right: 152px;
}
.text30 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 40px;
  right: 40px;
}
.text31 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 395px;
  right: 325px;
}
.text32 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 283px;
  right: 174px;
}
.text33 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 308px;
  right: 194px;
}
.text34 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(179, 196, 207, 1);
  position: absolute;
  top: 358px;
  right: 237px;
}
.text35 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 333px;
  right: 224px;
}
.text36 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 68px;
  right: 227px;
}
.text37 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 93px;
  right: 198px;
}
.text38 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 163px;
  right: 237px;
}
.text39 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 188px;
  right: 240px;
}
.text40 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(229, 234, 237, 1);
  position: absolute;
  top: 213px;
  right: 188px;
}
.asset102 {
  width: 157px;
  height: 40px;
  display: block;
  position: absolute;
  top: 40px;
  left: 399px;
  overflow: hidden;
}
.svg___42TgZ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #b4c5d0;
  width: 157.001px;
  height: 40px;
  display: block;
  top: 0px;
  left: 0px;
}
.text___6Kns2 {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 10px;
  right: 1172px;
}
.home2 {
  background: url("/plasmic/blank_project/images/home2.png") 1.08px -33.672413793103445px / 1080px 687.1921182266009px
    no-repeat;
  width: 1080px;
  height: 279px;
  display: block;
  position: absolute;
  top: 420px;
  left: 180px;
}
.navButon:global(.__wab_instance) {
  position: absolute;
  top: 30px;
  right: 629px;
}
.text42 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 30px;
  right: 524px;
}
.text43 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 30px;
  right: 123px;
}
.text44 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 30px;
  right: 366px;
}
.text45 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 30px;
  right: 204px;
}
.text__gQeXv {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 32px;
  right: 35px;
}
.rectangle336 {
  background: rgba(58, 96, 134, 1);
  width: 200px;
  height: 40px;
  display: block;
  position: absolute;
  top: 324px;
  left: 1060px;
  border-radius: 8px;
}
.text46 {
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 334px;
  left: 1100px;
}
.text47 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2799px;
  left: 70px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum {
  display: block;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2840px;
  left: 70px;
  width: 419px;
}
.buttons2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(14, 41, 71, 1);
  width: 100px;
  height: 30px;
  display: block;
  position: absolute;
  top: 2908px;
  left: 390px;
  overflow: hidden;
  border-radius: 4px;
}
.secondary {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(14, 41, 71, 1);
  position: absolute;
  top: 7px;
  left: 13px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum2 {
  display: block;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2840px;
  left: 510px;
  width: 419px;
}
.buttons3 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(14, 41, 71, 1);
  width: 100px;
  height: 30px;
  display: block;
  position: absolute;
  top: 2908px;
  left: 830px;
  overflow: hidden;
  border-radius: 4px;
}
.secondary2 {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(14, 41, 71, 1);
  position: absolute;
  top: 7px;
  left: 13px;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitCrasANuncInPurusFacilisisSuscipitSedVelLoremNuncIaculisNisiUtNisiElementumVelUltriciesOrciElementum3 {
  display: block;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2840px;
  left: 950px;
  width: 419px;
}
.buttons4 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(14, 41, 71, 1);
  width: 100px;
  height: 30px;
  display: block;
  position: absolute;
  top: 2908px;
  left: 1270px;
  overflow: hidden;
  border-radius: 4px;
}
.secondary3 {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(14, 41, 71, 1);
  position: absolute;
  top: 7px;
  left: 13px;
}
.text48 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2799px;
  left: 950px;
}
.text49 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2799px;
  left: 510px;
}
.financialRequestListingBroker {
  background: url("/plasmic/blank_project/images/financialRequestListingBroker.jpeg") center center / cover no-repeat;
  width: 527px;
  height: 316px;
  display: block;
  position: absolute;
  top: 3714px;
  left: 181px;
}
.quotes {
  background: url("/plasmic/blank_project/images/quotes.jpeg") center center / cover no-repeat;
  width: 954px;
  height: 308px;
  display: block;
  position: absolute;
  top: 4090px;
  left: 729px;
}
.documents {
  background: url("/plasmic/blank_project/images/documents.jpeg") center center / cover no-repeat;
  width: 527px;
  height: 263px;
  display: block;
  position: absolute;
  top: 4458px;
  left: 181px;
}
.text__exUpw {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4821px;
  left: 459px;
}
.buttonsButtons3 {
  background: rgba(249, 204, 20, 1);
  width: 407px;
  height: 50px;
  display: block;
  position: absolute;
  top: 4870px;
  left: 515px;
  overflow: hidden;
  border-radius: 4px;
}
.text50 {
  position: absolute;
  top: 8px;
  left: 10px;
  bottom: 8px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text51 {
  display: block;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(38, 54, 63, 1);
}
.inputText2 {
  background: rgba(250, 250, 250, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(144, 158, 137, 1);
  width: 420px;
  height: 40px;
  display: block;
  position: absolute;
  top: 324px;
  left: 180px;
  overflow: hidden;
  border-radius: 8px;
}
.text___389C {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}
.inputText3 {
  background: rgba(250, 250, 250, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(144, 158, 137, 1);
  width: 200px;
  height: 40px;
  display: block;
  position: absolute;
  top: 324px;
  left: 620px;
  overflow: hidden;
  border-radius: 8px;
}
.text__zlqy6 {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}
.inputText4 {
  background: rgba(250, 250, 250, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(144, 158, 137, 1);
  width: 197px;
  height: 40px;
  display: block;
  position: absolute;
  top: 324px;
  left: 840px;
  overflow: hidden;
  border-radius: 8px;
}
.text__rj70Z {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(144, 158, 137, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}
